@model Gallery.Models.User
<form action="/Registration/Register" method="post">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" placeholder="Enter email:" asp-for="Email"/>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Enter name:" asp-for="name"/>
    </div>
    <div class="form-group">
        <label>username</label>
        <input type="text" placeholder="Enter username:" asp-for="username"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>